.Label {
	color: #84888c !important;
}

.modal-content {
	background-color: rgb(59, 59, 76) !important;
	width: 650px !important;
}

.btn-close {
	height: 0em !important;
	opacity: 1 !important;
}

.modal-header, .modal-footer  {
	border: 0px solid #dee2e6 !important;
}

.modal-body {
	padding: 0rem 1rem !important;
}

.modal-footer {
	justify-content: space-between !important;
	flex-direction: row-reverse !important;
}

.mb-3 {
	display: flex !important;
	flex-wrap: wrap !important;
}

.form-label, .form-control {
	width: 40% !important;
	margin: 1rem 0rem !important;
	padding-left: 1.3rem !important;
}

.form-control {
	width: 60%;
}